html, body, h1{
    padding: 0;
    margin: 0;
    height: 100%;
}
img{ max-width: 100% }


.source_logo {
    width: 100px;
     -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.source_container{
    overflow: hidden;
    position: relative;
}

.source_container:hover:after{
    background: #000;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;  
}

aside {
    float: right;
    width: 20%;
    border-left: 1px solid #f34541;
}



#main_logo {
    float: left;
    width: 80px;
}

header {
    height: 75px;
    border-bottom: 1px solid #f34541;
}

header > h1{
    padding: 15px;
    margin: 0 auto;
    float: left;
}







#wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    width: 100%;
    background: #f34541;
    height: 50px;
    position: absolute;
    bottom: 0;
}

#content {
    clear: both;
    padding-bottom: 50px;
}

footer > h3 {
    margin: 0;
    line-height: 50px;
}

article {
    float: left;
}

#div1 {
    float: left;
}
