html, body, h1{
    padding: 0;
    margin: 0;
    height: 100%;
}
img{ max-width: 100% }


.source_logo {
    width: 50px;
}

.source_container{
    overflow: hidden;
    position: relative;
}

.source_container:hover:after{
    background: #000;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;  
}

aside {
    float: right;
    width: 35%;
    max-width: 400px;
}



#main_logo {
    float: left;
    width: 65px;
    margin: 7px;
}



header > h1{
    font-weight: 100;
    font-size: 4em;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 0 0 15px;
    color:  #f34541;
}







#wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    width: 100%;
    background: #f34541;
    height: 50px;
    position: absolute;
    bottom: 0;
}

#content {
    clear: both;
    padding-bottom: 50px;
}

footer > h3 {
    margin: 0 5px;
    line-height: 50px;
    color: #bdc3c7;
    font-size: 0.8em;
}

article {
    margin: 50px 0 0 30px;
}

#div1 {
    float: left;
}

.split_left {
    float: left;
    width: 60%;
}


 /* Button */
    .button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
    }
    
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
    
    .button.green {
      background-color: #0f9d58;
      color: #fff;
    }

    .button.red {
      background-color: #f34541;
      color: #fff;
    }

    .button.grey {
      background-color: #eee;
    }
    
    .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }

    /* Misc */
    .center {
      text-align: center;
    }
aside > h2 {
    margin-top: 10px;
    font-size: 3em;
    font-weight: 100;
    font-family: 'Open Sans Condensed', sans-serif;
}

.query_result {
    font-size: 2.5em;
}

html {
    font-size: 100%;/*IE compatibility*/
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1em; /*base font-size*/
}

/* added to resize images */
.thumbnails li img{width: 50px;}

/* image-picker animation when selected */

 ul.thumbnails.image_picker_selector li .thumbnail.selected {
      transition: all 0.3s ease-out; }
 ul.thumbnails.image_picker_selector li .thumbnail {
    background: white; 
    transition: all 0.3s ease-out;}




#details-form {
    margin-bottom: 30px;
}

/* text inputs */
/* form starting stylings ------------------------------- */
.group        { 
  position:relative; 
  margin-bottom:45px; 
}
input         {
  font-size:15px;
  padding:10px 10px 10px 5px;
  display:block;
  width:68%;
  max-width: 300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:15px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}


#count_result {
    float: left;
    height: 140px;
    width: 140px;
    text-align: center;
    margin: 0;
    background: #f34541;
    line-height: 140px;
}

#query_text {
    float: left;
    width: 60%;
    font-size: 2em;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

.circle {
    border-radius: 50%;
    /* width and height can be anything, as long as they're equal */
}


