html, body, h1{
    padding: 0;
    margin: 0;
    height: 100%;
}
img{ max-width: 100% }


.source_logo {
    width: 50px;
}

.source_container{
    overflow: hidden;
    position: relative;
}

.source_container:hover:after{
    background: #000;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;  
}

aside {
    float: right;
    width: 35%;
}



#main_logo {
    float: left;
    width: 65px;
    margin: 7px;
}



header > h1{
    font-weight: 100;
    font-size: 4em;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 0 0 15px;
    color:  #f34541;
}







#wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    width: 100%;
    background: #f34541;
    height: 50px;
    position: absolute;
    bottom: 0;
}

#content {
    clear: both;
    padding-bottom: 50px;
}

footer > h3 {
    margin: 0 5px;
    line-height: 50px;
    color: #bdc3c7;
    font-size: 0.8em;
}

article {
    float: left;
    margin: 0 0 0 30px;
}

#div1 {
    float: left;
}

.split_left {
    float: left;
}


 /* Button */
    .button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
    }
    
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
    
    .button.green {
      background-color: #0f9d58;
      color: #fff;
    }

    .button.red {
      background-color: #f34541;
      color: #fff;
    }

    .button.grey {
      background-color: #eee;
    }
    
    .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }

    /* Misc */
    .center {
      text-align: center;
    }
aside > h2 {
    margin-top: 10px;
    font-size: 3em;
    font-weight: 100;
    font-family: 'Open Sans Condensed', sans-serif;
}

.query_result {
    font-size: 3em;
}

html {
    font-size: 100%;/*IE compatibility*/
}

body {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    font-size: 1em; /*base font-size*/
}

/* added to resize images */
.thumbnails li img{width: 50px;}
